body {
    color: #0c0c0c;
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: #4e4e54;
}

h2 {
    margin-top: 20px;
}

section {
    border: 1px solid #441818;
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 5%;
    background-color: rgba(219, 130, 130, 0.7);
    
}